<% if user %>

<h1>Welcome, <%= user["username"] %> </h1>

<% else %>

<section>
    <a href="register">Register Now</a>
</section>

<section>
    <form action="/login" method="POST">
        <label for=username>Username</label>
        <input type=text id=username name=username>

        <label for=password>Password</label>
        <input type=text id=password name=password>

        <input type=submit value=Login>
    </form>
</section>

<% end %>
