development:
  adapter: postgresql
  encoding: unicode
  database: sql_ar
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: sql_ar_test
  pool: 5
  username: gschool
  password:
